@model ParticipantsModel

<h3>Athletes:</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name and Surname</th>
        <th>Country</th>
        <th>Sports</th>
    </tr>
    @foreach (var item in @Model.Athletes)
    {
<tr>
    <td>@item.Id </td>
    <td>@item.Name @item.Surname </td>
    @*<td>@item.Country.CountryName </td>*@
    <td>@item.CountryName </td>
    <td>@item.SportName </td>


</tr>
    }
</table>
